.backgroundArea {
  background: url('https://images.unsplash.com/photo-1515965885361-f1e0095517ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80'); 
  background-size: cover; 
  background-position: center center;
}

.input-group {
	display: grid;
	gap: 0.75em;
}
.checkbox,
.radio {
	background-color: var(--light-gray3);
	border-radius: 0.75em;
	box-shadow:
		0 0 0 0.0625em var(--light-gray5) inset,
		0 0 0 var(--light-gray2) inset,
		0 0 0 var(--light-gray3);
	cursor: pointer;
	display: flex;
	gap: 0.75em;
	align-items: center;
	padding: 0.75em 1em;
	position: relative;
	min-width: 0;

	&,
	&__input {
		transition:
			background-color var(--trans-dur),
			box-shadow var(--trans-dur),
			transform var(--trans-dur) var(--ease-in-out);
		-webkit-tap-highlight-color: transparent;
	}
	&__input {
		background-color: var(--light-gray1);
		flex-shrink: 0;
		width: 1.25em;
		height: 1.25em;
		-webkit-appearance: none;
		appearance: none;
	}
	&__label {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&:before {
		border-radius: inherit;
		box-shadow: 0 0 0 0.125em var(--primary3);
		content: "";
		display: block;
		opacity: 0;
		position: absolute;
		inset: 0;
		transition: opacity var(--trans-dur);
	}
	&:hover {
		background-color: var(--light-gray2);
	}
	&:has(&__input:checked) {
		background-color: var(--light-gray1);
		box-shadow:
			0 0 0 0.0625em var(--light-gray5) inset,
			0 -0.375em 0 var(--light-gray2) inset,
			0 0.25em 0.25em var(--light-gray3);
		transform: scale(1.02);
	}
	&:has(&__input:focus-visible) {
		&:before {
			opacity: 1;
		}
	}
}
.checkbox {
	&__input {
		border-radius: 0.25em;
		box-shadow:
			0 0 0 0.0625em var(--light-gray7) inset,
			0 0.25em 0.25em var(--light-gray4) inset;
		color: var(--light-gray1);

		&:before {
			background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><polyline points="4 8,7 11,12 5" /></svg>') 0 0 / 100% auto;
			content: "";
			display: block;
			opacity: 0;
			transition: opacity var(--trans-dur);
			width: 100%;
			height: 100%;
		}
		&:checked {
			background-color: var(--primary3);
			box-shadow:
				0 0 0 0.0625em var(--primary4) inset,
				0 0.125em 0.25em var(--primary2) inset;

			&:before {
				opacity: 1;
			}
		}
	}
}
.radio {
	&__input {
		border-radius: 50%;
		box-shadow:
			0 0 0 0.0625em var(--light-gray7) inset,
			0 0 0 0 var(--primary3) inset,
			0 0.25em 0.25em var(--light-gray4) inset;

		&:checked {
			box-shadow:
				0 0 0 0.0625em var(--primary4) inset,
				0 0 0 0.375em var(--primary3) inset,
				0 0.25em 0.25em var(--light-gray4) inset;
		}
	}
}

/* Beyond mobile */
@media (min-width: 768px) {
	form {
		grid-template-columns: repeat(2,1fr);
	}
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	body,
	input {
		color: var(--light-gray1);
	}
	body {
		background-color: var(--dark-gray6);
	}
	.checkbox,
	.radio {
		background-color: var(--dark-gray5);
		box-shadow:
			0 0 0 0.0625em var(--dark-gray4) inset,
			0 0 0 var(--dark-gray4) inset,
			0 0 0 var(--dark-gray7);

		&__input {
			background-color: var(--dark-gray4);
		}
		&:before {
			box-shadow: 0 0 0 0.125em var(--primary2);
		}
		&:hover {
			background-color: var(--dark-gray4);
		}
		&:has(&__input:checked) {
			background-color: var(--dark-gray3);
			box-shadow:
				0 0 0 0.0625em var(--dark-gray4) inset,
				0 -0.375em 0 var(--dark-gray4) inset,
				0 0.25em 0.25em var(--dark-gray7);
		}
	}
	.checkbox {
		&__input {
			box-shadow:
				0 0 0 0.0625em var(--dark-gray8) inset,
				0 0.25em 0.25em var(--dark-gray6) inset;

			&:checked {
				background-color: var(--primary2);
				box-shadow:
					0 0 0 0.0625em var(--primary5) inset,
					0 0.125em 0.25em var(--primary1) inset;
			}
		}
	}
	.radio {
		&__input {
			box-shadow:
				0 0 0 0.0625em var(--dark-gray8) inset,
				0 0 0 0 var(--primary2) inset,
				0 0.25em 0.25em var(--dark-gray6) inset;
	
			&:checked {
				background-color: var(--light-gray1);
				box-shadow:
					0 0 0 0.0625em var(--primary5) inset,
					0 0 0 0.375em var(--primary2) inset,
					0 0.25em 0.25em var(--dark-gray8) inset;
			}
		}
	}
}